<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}|Blood Search</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'index.css'%}">

</head>
<body>
        <nav class="navbar">
                <ul>
                    <li><a href="/index">Notices</a></li>
                    <li><a href="#">Receive</a>
                    <div class="submenureceive">
                        <ul>
                            <li><a href="/donorlist">Donor List</a></li>
                            <li><a href="/bloodbanks">Blood Banks</a></li>
                        </ul>
                    </div></li>
                    <li><a href="#">Donate</a>
                    <div class="submenudonate">
                        <ul>
                            <li><a href="/donatenow">Donate now</a></li>
                            <li><a href="/registration">Registration</a></li>
                        </ul>
                    </div>
                    </li>
                    <li><a href="/bloodbanklogin">Blood Bank Login</a></li>
                </ul>

        </nav>
        {% block body %}{% endblock body %}
</body>
</html>