{% extends 'base.html' %}
{% block title %}
Log In
{% endblock title %}
{% block body %}
<div style="color: white; text-align: center;  min-height:100vh; width: 100%;background-image: url('static/loginimage.jfif'); background-size: cover; position:fixed;background-repeat: no-repeat;z-index:-1">
    <div style="margin-top: 200px; padding: 50px 50px;  background-color: rgb(8, 104, 104); border: 2px solid white; border-radius: 20px; margin: auto; width: auto; display: inline-block; margin-top:150px; padding: 100px 100px;">
<h1>Blood Bank Log in
</h1>
<div class="login" style="text-align: center; font-family: 'Times New Roman', Times, serif;">
    <form action="/bloodbanklogin" method="post">
        {%csrf_token%}
        <div>
            Username: <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div>
            Password: <input type="password" name="password" placeholder="Enter Password">
        </div>
        <button type="submit" style='padding: 8px 20px;
        margin: 7px 0;
        border: 2px solid white;
        background: none;
        color: white;
        cursor: pointer;
        border-radius: 10px;'>submit</button>
    </form>
</div>
</div>
</div>
{% endblock body %}