{% extends 'base.html' %}
{% block title %}
List Of Banks
{% endblock title %}
{% block body %}
<div style="background-color: rgb(7, 143, 167);">
<h1 style="color: wheat; background-color: darkcyan;">Blood Banks Inside And Outside Kathmandu Valley</h1>
<h3 style="color: wheat; background-color: darkcyan;">Press on the bank closest to your location</h3>
<div class "banks" style="background-image: url('static/dropsoflife.jpg'); display: flex; flex-wrap: wrap; justify-content: space-between; flex: 1px 1px 0px;">
{% for bb in bbl_list %}
<div class="subbanks">
<ul style="margin: 20px; padding: 20px; list-style: none;">
<li style="margin: 15px 15px;"><a href="{{bb.htmlfile}}" style="text-decoration: none;background-color: cadetblue; color: whitesmoke; border: 2px solid black; padding: 10px 10px; border-radius: 8px;">{{bb.bankname}}</a></li>
<li style=" margin : 25px 20px;"><a href="tel:{{bb.bankphone}}" style="text-decoration: none; background-color: cadetblue; color: whitesmoke;border: 2px solid black;padding: 10px 10px; border-radius: 8px;">Press To Call</a></li>
<li style=" margin : 15px 15px;"><a href="{{bb.location}}" style="text-decoration: none; background-color: cadetblue; color: whitesmoke; border: 2px solid black; padding: 10px 10px; border-radius: 8px;">Press to View Location</a></li>
<li style=" margin : 15px 15px; padding: 3px 3px;background-color: cadetblue; color: whitesmoke; border: 2px solid black; border-radius: 8px;">{{bb.locationname}}</li>
</ul>
</div>
{% endfor %}
</div>
</div>
</div>

{% endblock body %}